.info-btn {
    position: relative;
    flex-direction: row;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    gap: 15px;
}

.active {
    background-color: white;
    color: #0a001b !important;
    /* Indicador visual */
    font-weight: bold;
}

.info-btn a {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ccc;
    color: white;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.info-btn a:hover {
    background-color: #f0f0f0;
    color: #0a001b;
}