@font-face {

    font-family: "Lora";
    src: url("../../assets/fonts/Lora/Lora-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;

}

.ctn-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    width: 100%;
}




.words {
    text-align: center;
    flex: 1;
}





.blue-stripe {
    width: 100%;
    height: 5px;
    background-color: blue;

}

.footer-resize {
    color: white;
    display: flex;
    align-items: center;
    max-width: 1250px;
    min-height: 200px;
    margin: auto;
    border-color: #0a001b;
    background-color: #0a001b;

}

.svg-curve {
    display: block;
    margin-bottom: 0;
    position: relative;
    bottom: 1px;
    width: 100%;

}

.svg-curve-bottom {
    display: block;
    width: 100%;
    margin-bottom: 0;
    position: relative;

    top: 1px;


}


.footer {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 32vh;
    background-color: #0a001b;

}

.presentation {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
}

.main {
    max-width: 1200px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
}

.bg-color-fs {
    width: auto;
    height: auto;
    background-color: #0a001b;
}

.first-sec {
    max-width: 1200px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    background-color: #0a001b;
    z-index: 2;
}

.image-ctn-heros {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.fade-white {
    display: flex;
    align-items: center;
    border-radius: 100%;
    width: 80%;
    position: relative;
    bottom: 120px;
    z-index: 1;

}


p {
    color: white;
}

.fade {
    display: flex;
    top: 70px;
    position: relative;
    align-items: center;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background: linear-gradient(white, rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(15px);
    filter: blur(90px);
    z-index: 1;
}




.fade-white img {
    width: 300px;
    z-index: 2;


}

.hover-3d-effect {
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.hover-3d-effect:hover {
    transform: perspective(1000px) rotateX(8deg) rotateY(8deg) scale3d(1.05, 1.05, 1.05);
}

.seccion-projects {
    max-width: 1250px;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}




a {
    text-decoration: none;
    color: black;
}

.icon {
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: contain;

}


.proyectos {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    text-align: center;
}








h1 {
    text-align: left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    color: white;
    font-family: "Lora", Helvetica, sans-serif;

}



.t-sp {

    font-family: "Lora", Helvetica, sans-serif;

}

.s-sp {
    font-family: "Lora", Helvetica, sans-serif;

}

.prr-pres {
    font-family: "Lora", Helvetica, sans-serif;

}

.font-foot {
    font-family: "Lora", Helvetica, sans-serif;


}

h2 {
    font-size: 1.5rem;
    line-height: 0px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {

    line-height: 20px;
}

p {
    font-size: 20px;

}



.ctn-porfolio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.airplane-container {
    position: fixed;
    top: 50%;
    /* Altura inicial */
    left: -150px;
    /* Comienza fuera de pantalla */
    pointer-events: none;
    z-index: 9999;
}

.airplane {
    width: 120px;
    animation: airplaneFlight 8s ease-in-out infinite;
}

@keyframes airplaneFlight {
    0% {
        transform: translateX(0) translateY(0) rotate(-10deg) scale(0.8);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        transform: translateX(40vw) translateY(-10vh) rotate(-3deg) scale(0.9);
    }

    60% {
        transform: translateX(70vw) translateY(10vh) rotate(8deg) scale(1);
    }

    90% {
        opacity: 1;
        transform: translateX(100vw) translateY(-35vh) rotate(15deg) scale(1.1);
    }

    100% {
        opacity: 0;
        transform: translateX(110vw) translateY(-45vh) rotate(5deg) scale(1.2);
    }
}


@media (max-width: 900px) {

    .image-ctn-heros {
        display: none;
    }

    .first-sec {
        align-items: flex-start;
        padding-left: 19px;
        padding-top: 2px;
    }

    p {
        text-align: justify;
    }

    .presentation {
        width: 100%;
        padding-right: 10px;

    }

    .words {
        padding: 3px;
    }

    .main {
        width: 100%;
    }
}

@media(max-width:575px) {
    h1 {
        font-size: 16.5vw;
    }

    .seccion-projects {
        margin-left: 10px;

    }
}