<head>
    <title>Portfolio</title>
    <meta name="description" content="Programador web, desarrollador de aplicaciones">
    <meta name="keywords"
        content="desarrollo web, programador web, desarrollador web, diseño web, React, JavaScript, CSS, HTML, Angular, programación web, portafolio digital">
    <meta name="author" content="Ansony Rojas">
    <link rel="canonical" href="URL canónica de la página">
</head>

<div class="container">
    <h1>💼 Mi Portafolio</h1>
    <div class="proyectos">
        <div class="proyecto1">
            <h2>To-Do List</h2>
            <a href="https://ansonyroja.github.io/TO-DO/"><img class="todo-image" src="../../assets/To-Do List.jpg"
                    alt="TO-DO"></a>
            <p>Esta es Una aplicación de lista de tareas eficiente y fácil de usar construida con Angular. Organiza tus
                tareas diarias, establece recordatorios y gestiona tus actividades de manera intuitiva</p>
        </div>

        <div class="proyecto1">
            <h2>Rick And Morty</h2>
            <a href="https://deploy-frontend-rickandmorty.vercel.app/"><img class="imageRM"
                    src=" ../../assets/rick-morty-portal.jpg" alt="Rick And Morty" /></a>
            <p>Explora el emocionante multiverso de Rick and Morty con nuestra aplicación. Encuentra información
                detallada sobre tus personajes, y adéntrate en las aventuras más extravagantes de la serie animada en
                este divertido sitio web dedicado a Rick y Morty.</p>
        </div>

        <div class="proyecto1">
            <a href="https://dev.fixershoes.com/">
                <h2>FixerShoes</h2>
                <img class="todo-image" src=" ../../assets/fixerShoes.jpg">
                <p>
                    A través de este proyecto de ecommerce centrado en productos para el cuidado del calzado, he
                    obtenido
                    una gran experiencia trabajando en equipo para crear una
                    plataforma que combina la elegancia y la funcionalidad para brindar a los amantes del calzado la
                    posibilidad de mantener sus zapatos en perfecto estado.
                </p>
            </a>
        </div>


    </div>


</div>