html,
body {
    margin: 0px;
    padding: 0px;
    background-color: transparent;

}



.blue-stripe {
    width: 100%;
    height: 5px;
    background-color: blue;

}

.footer-resize {
    color: white;
    display: flex;
    align-items: center;
    max-width: 1250px;
    min-height: 200px;
    margin: auto;
    border-color: #0a001b;
    background-color: #0a001b;

}

.svg-curve {
    display: block;
    margin-bottom: 0;

}

.svg-curve-bottom {
    display: block;
    margin-bottom: 0;
    position: relative;
    top: 1px;
}

footer {
    padding: 0px;
    margin: 0px;

    background-color: #0a001b;

}

.presentation {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    padding: 0px 0px 0px 50px;
    margin-bottom: 90px;

}

.main {

    width: auto;
    height: auto;
    background-color: white;


}

.bg-color-fs {
    width: auto;
    height: auto;
    background-color: #0a001b;
}

.first-sec {
    max-width: 1250px;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #0a001b;
    z-index: 2;
}

.image-ctn-heros {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.fade-white {
    display: flex;
    align-items: center;
    border-radius: 100%;
    width: 80%;
    position: relative;
    bottom: 120px;
    z-index: 1;

}

p {
    color: white;
}

.fade {
    display: flex;
    top: 70px;
    position: relative;
    align-items: center;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background: linear-gradient(white, rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(15px);
    filter: blur(90px);
    z-index: 1;
}

.fade-white img {
    width: 300px;
    z-index: 2;

}


.seccion-projects {
    max-width: 1250px;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}




a {
    text-decoration: none;
    color: black;
}

.icon {
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: c;

}


.proyectos {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    text-align: center;
}






.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    background-color: #fff;
    height: 550px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


h1 {
    text-align: left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    color: white;
    margin-bottom: 0px;

}

.color-font {
    color: black;
}

h2 {
    font-size: 1.5rem;
    line-height: 0px;
    margin-bottom: 10px;
}

h3 {

    line-height: 20px;
}

p {
    font-size: 20px;

}

.ctn-img {
    margin-top: 25px;
    display: block;
    align-items: center;
    justify-content: center;
    width: auto;
    overflow: hidden;

    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px 2px rgba(0, 0, 0, 0.2)
}

.ctn-img img {

    margin: 0px;
}


@media (max-width: 900px) {

    .image-ctn-heros {
        display: none;
    }
}

@media(max-width:575px) {
    h1 {
        font-size: 50px;
    }

    .seccion-projects {
        margin-left: 55px;

    }
}