.contenedorP {

    margin: 0px;
    padding: 0px;

}



.btn-sound {
    position: sticky;
    top: 20px;
    user-select: none;
    right: 20px;
    float: right;
    z-index: 1000;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.btn-sound:hover {
    background-color: #00d4ff;
    transform: scale(1.0);
}

.sound-icon {
    font-size: 1.2rem;
}

#electric-cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    opacity: 1;
    pointer-events: none;
    background-image: url("../assets/cursor.cur");
    background-size: contain;
    animation: electricGlow 0.15s infinite alternate;
    z-index: 1000;
}


#cursor-flash {
    position: fixed;
    width: 50px;
    height: 50px;
    pointer-events: none;
    background-image: url("../assets/blue-electric.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Fondo semi-transparente */
    background-color: rgba(3, 21, 86, 0.5);
    /* azul semitransparente */
    border-radius: 50%;
    /* redondeado para que sea circular */
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}




@keyframes electricGlow {
    0% {
        filter: drop-shadow(0 0 4px #2db7ff);
    }

    100% {
        filter: drop-shadow(0 0 12px #00ffff);
    }
}